<ion-header>
  <ion-toolbar>
    
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>   
      <ion-icon class="iconMenu"></ion-icon>    
    </ion-buttons>
    
    <ion-title slot="end">       
      <ion-col text-right justify-content-end>
        <img class="logomenu" src="../../assets/icon/logoCyberops.svg" alt="">
      </ion-col>  
    </ion-title>  

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <p text-right>Datos Personales / <a href="#">
            <ion-icon class="iconHome"></ion-icon>
          </a></p>
      </ion-col>

    </ion-row>
    <ion-row>
      <ion-col class="fondoGris" size-xs="12" size-sm="12" size-md="12"  size-lg="12" size-xl="8">
        <!-- class="bkgPersonal"  class="fondoGris"-->
        <ion-row>
          <ion-col class="fotoPersonal" size-xs="6" size-sm="3" size-md="3"  size-lg="3" size-xl="3">
            <ion-icon [ngClass]="{'fotoMarta': name=='Marta', 'fotoIgnacio': name=='Ignacio', 'fotoCristina': name=='Cristina'}"></ion-icon>
          </ion-col>
          <ion-col class="nombre">
            <h2>{{name}}</h2>
            <p><span>Departamento:</span>Operaciones</p>
            <p>{{name}}@cyberops.es</p>
          </ion-col>
          <ion-col class="bkgIconoVerde"[ngClass]="{'bkgIconoVerde': estadoColor=='green', 'bkgIconoRed': estadoColor=='red', 'bkgIconoOrange': estadoColor=='yellow'}">
            <ion-row>
              <ion-col text-left>
                <p>{{fecha | date: "H:mm"}}</p>
                <p>{{fecha | date: "dd-MM-yy"}}</p>
                <p>Estado {{profile}}%</p>
              </ion-col>
              <ion-col text-right>
                <ion-icon [ngClass]="{'iconGreen': estadoColor=='green', 'iconRed': estadoColor=='red', 'iconOrange': estadoColor=='yellow'}"></ion-icon>
              </ion-col>
            </ion-row>

          </ion-col>
        </ion-row>

      </ion-col>
      <ion-col size-xs="12" size-sm="12" size-md="12"  size-lg="12" size-xl="3">
        <ion-row class="bkgCyber">
          <ion-col text-left size-xs="2" size-sm="2" size-md="2"  size-lg="2" size-xl="2">
            <ion-icon class="iconCyber"></ion-icon>
          </ion-col>
          <ion-col>
            <p class="cybersistem">CYBERSYSTEM</p>
          </ion-col>
          <ion-col text-right>
            <p><span class="percent">{{porcentajeGeneral}}%</span></p>
          </ion-col>
          <ion-col text-left size-xs="3" size-sm="2" size-md="2"  size-lg="2" size-xl="2">
            <ion-icon class="iconHeart"></ion-icon>
          </ion-col>
        </ion-row>

        <ion-row class="bkgCyber">
          <ion-col>
            <h3>PERSONAL</h3>
            <p class="estado">Estado general</p>

          </ion-col>
          <ion-col text-right>
            <p><span class="percent">{{porcentajePersonal}}%</span></p>
          </ion-col>
          <ion-col text-left size="2">
            <ion-icon class="iconStatusOrangeBig"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>

    <ion-row class="bkgGris">
      <ion-col [ngClass]="{'bkgGreen': estadoColor=='green', 'bkgRed': estadoColor=='red', 'bkgOrange': estadoColor=='yellow'}" size="4">
        <h3 text-center>DATOS PERSONALES</h3>
        <span class="lineaBlanca"></span>
        <ion-row>
          <ion-col>
            <p>Estado anímico </p>
          </ion-col>
          <ion-col  text-right>
            <p><span class="datoPercent" >{{estadoAnimo}}%</span></p>
            
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <p>Motivación </p>
          </ion-col>
          <ion-col  text-right>
            <p><span class="datoPercent" >{{motivacion}}%</span></p>
            
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <p>Trabajo en equipo </p>
          </ion-col>
          <ion-col  text-right>
            <p><span class="datoPercent">{{trabajoEquipo}}%</span></p>
            
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col >
            <p>Medio Ambiente </p>
          </ion-col>
          <ion-col  text-right>
            <p><span class="datoPercent" >{{medioAmbiente}}%</span></p>
            
          </ion-col>
        </ion-row>




        <ion-row class="buttonCalendar" > 
          <ion-col  size="12" text-center class="borderWhite2">
              <ion-icon class="iconCalendar"></ion-icon>
              <span class="span">Filtrar por fecha y hora</span>
            
          </ion-col>
          <ion-col text-center>
              <ion-datetime [(ngModel)]="dateInicio" displayFormat="D MMM HH:mm" placeholder="Fecha inicio"></ion-datetime>
              <!-- <ion-icon class="iconSelect"></ion-icon> -->
          </ion-col>
          <ion-col text-center>
              <ion-datetime [(ngModel)]="dateFin" displayFormat="D MMM HH:mm" placeholder="Fecha fin" (ionChange)="filtrarDatos()"></ion-datetime>
              <!-- <ion-icon class="iconSelect"></ion-icon> -->
          </ion-col>
        </ion-row>

        <!-- <ion-button class="buttonCalendar">
          <ion-icon class="iconCalendar"></ion-icon>
          <span>Filtrar por fecha</span>
        </ion-button>
          <ion-datetime [(ngModel)]="dateInicio" displayFormat="D MMM HH:mm" placeholder="fecha inicio"></ion-datetime>
          <ion-datetime [(ngModel)]="dateFin" displayFormat="D MMM HH:mm" placeholder="fecha fin" (ionChange)="filtrarDatos()"></ion-datetime> -->
        <ion-row>
          <ion-col>
            <ion-icon class="iconStar"></ion-icon>
          </ion-col>
          <ion-col>
            <p>
              Incentivos
            </p>
          </ion-col>
          <ion-col text-right>
            <ion-button class="iconIr"></ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-icon class="iconTask"></ion-icon>
          </ion-col>
          <ion-col>
            <p>
              Tareas pendientes
            </p>
          </ion-col>
          <ion-col text-right>
            <ion-button class="iconIr"></ion-button>
          </ion-col>
        </ion-row>

      </ion-col>
      <ion-col >
        <ion-row>
          <ion-col>
            <h3>GRÁFICAS ÚLTIMAS 24h</h3>
          </ion-col>
          <!-- <ion-col text-right>
            <ion-button class="iconBack"></ion-button>
          </ion-col> -->
        </ion-row>

        <ion-row>
          <ion-col class="graficaEmociones">
            <h4>EMOCIONES:Vista general</h4>
            <div id="chart1" class="chart1"></div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="graficaArousal">
            <h4>AROUSAL</h4>
            <div id="chart3" class="chart1"></div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="graficaPulsaciones">
            <h4>PULSACIONES</h4>
            <div id="chart2" class="chart1"></div>
          </ion-col>
        </ion-row>
        
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>

