<ion-app>
  <ion-split-pane>
    <ion-menu type="overlay">
      <ion-header>
        <ion-toolbar text-center>
          <!-- <ion-title>Menu</ion-title> -->
          <img src="../assets/icon/logoCyberops.svg" alt="">
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <!-- <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
            <ion-item [routerDirection]="'root'" [routerLink]="[p.url]">
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle> -->

          <!-- ICONOS MENU -->

          <ion-item [routerDirection]="'root'" routerLink="/medio-ambiente" (click)="goToMedioAmbiente()">
            <ion-col>
              <ion-icon class="iconmedioAmbiente"></ion-icon>
            </ion-col>
            <ion-col>
              <p>Medio Ambiente</p>
            </ion-col>
            <ion-col text-right>
              <ion-icon
                [ngClass]="{'iconBotonMedio': medioAmbienteActive==false, 'iconBotonMedioSelected' : medioAmbienteActive==true}">
              </ion-icon>
            </ion-col>
          </ion-item>

          <ion-item [routerDirection]="'root'" routerLink="/energia" (click)="goToEnergia()">
            <ion-col>
              <ion-icon class="iconEnergia"></ion-icon>
            </ion-col>
            <ion-col>
              <p>Energía</p>
            </ion-col>
            <ion-col text-right>
              <ion-icon
                [ngClass]="{'iconBotonEnergia': energiaActive==false, 'iconBotonEnergiaSelected' : energiaActive==true}">
              </ion-icon>
            </ion-col>
          </ion-item>

          <ion-item [routerDirection]="'root'" routerLink="/finanzas" (click)="goToFinanzas()">
            <ion-col>
              <ion-icon class="iconFinanzas"></ion-icon>
            </ion-col>
            <ion-col>
              <p>Finanzas</p>
            </ion-col>
            <ion-col text-right>
              <ion-icon
                [ngClass]="{'iconBotonFinanzas': finanzasActive==false, 'iconBotonFinanzasSelected' : finanzasActive==true}">
              </ion-icon>
            </ion-col>
          </ion-item>

          <ion-item class="borderWhite" [routerDirection]="'root'" routerLink="/personal" (click)="goToPersonal()">
            <ion-col class="bkgOrange" text-center>
              <ion-icon class="iconPersonal"></ion-icon>
              <p><span>{{porcentajePersonal}}%</span></p>
            </ion-col>
            <ion-col>
              <p>Personal</p>
            </ion-col>
            <ion-col text-right>
              <ion-icon
                [ngClass]="{'iconBotonPersonal': personalActive==false, 'iconBotonPersonalSelected' : personalActive==true}">
              </ion-icon>
            </ion-col>
          </ion-item>

          <ion-item class="borderWhite" [routerDirection]="'root'" routerLink="/data-center" (click)="goToDataCenter()">
            <ion-col class="bkgGreen" text-center>
              <ion-icon class="iconDataCenter"></ion-icon>
              <p><span>92%</span></p>
            </ion-col>
            <ion-col>
              <p>Data center</p>
            </ion-col>
            <ion-col text-right>
              <ion-icon
                [ngClass]="{'iconBotonDataCenter': dataCenterActive==false, 'iconBotonDataCenterSelected' : dataCenterActive==true}">
              </ion-icon>
            </ion-col>
          </ion-item>

          <ion-item [routerDirection]="'root'" routerLink="/filtro-palabras" (click)="goToFiltrarPalabras()">
            <ion-col>
              <ion-icon class="iconKeywords"></ion-icon>
            </ion-col>
            <ion-col>
              <p>Filtrar palabras</p>
            </ion-col>
            <ion-col text-right>
              <ion-icon
                [ngClass]="{'iconBotonKeywords': filtrarPalabrasActive==false, 'iconBotonKeywordsSelected' : filtrarPalabrasActive==true}">
              </ion-icon>
            </ion-col>
          </ion-item>
         

          <!-- DATOS TEMP HUM RUIDO -->
          <div class="borderWhite">
            <ion-item>
              <ion-col>
                <ion-icon class="iconTemperatura"></ion-icon>
              </ion-col>
              <ion-col>
                <p> Temperatura</p>
              </ion-col>
              <ion-col text-right>
                <h3>30 {{temperatura}} ºC</h3>
              </ion-col>
            </ion-item>

            <ion-item>
              <ion-col>
                <ion-icon class="iconHumedad"></ion-icon>
              </ion-col>
              <ion-col>
                <p> Humedad</p>
              </ion-col>
              <ion-col text-right>
                <h3>30 {{humedad}} %</h3>
              </ion-col>
            </ion-item>

            <ion-item>
              <ion-col>
                <ion-icon class="iconRuido"></ion-icon>
              </ion-col>
              <ion-col>
                <p> Ruido</p>
              </ion-col>
              <ion-col text-right>
                <h3>30 {{ruido}} dB</h3>
              </ion-col>
            </ion-item>
          </div>

          <ion-item class="settings">
              <ion-col>
                <ion-icon class="iconSettings"></ion-icon>
              </ion-col>
              <ion-col >
                <p>Configuración</p>
              </ion-col>  
              <ion-col text-right>
                  <ion-icon class="iconBotonKeywords"></ion-icon>
                </ion-col>        
            </ion-item>          
            
            <ion-item class="salir" (click)="logOut()">
              <ion-col >
                <ion-icon class="iconSalir"></ion-icon>
              </ion-col>
              <ion-col text-center>
                <p>SALIR</p>
              </ion-col>          
            </ion-item>

          

        </ion-list>
        <ion-row class="usuarios">
          <ion-col size="3">
            <ion-icon class="iconUsuario"></ion-icon>
          </ion-col>
          <ion-col text-left>
            <ion-text>
              <p><span>{{nameUser}}</span></p>
              <p>{{userEmail}}</p>
            </ion-text>
          </ion-col>
        </ion-row>

      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>