// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #3880ff;
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #3171e0;
  --ion-color-primary-tint: #4c8dff;

  /** secondary **/
  --ion-color-secondary: #0cd1e8;
  --ion-color-secondary-rgb: 12, 209, 232;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #0bb8cc;
  --ion-color-secondary-tint: #24d6ea;

  /** tertiary **/
  --ion-color-tertiary: #7044ff;
  --ion-color-tertiary-rgb: 112, 68, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #633ce0;
  --ion-color-tertiary-tint: #7e57ff;

  /** success **/
  --ion-color-success: #10dc60;
  --ion-color-success-rgb: 16, 220, 96;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #0ec254;
  --ion-color-success-tint: #28e070;

  /** warning **/
  --ion-color-warning: #ffce00;
  --ion-color-warning-rgb: 255, 206, 0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;

  /** danger **/
  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 245, 61, 61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 34, 34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 244, 244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

   // FONTS
   font-family:  'Raleway', sans-serif!important;
   --ion-font-family: 'Raleway', sans-serif!important;
   
   
   // ICON COLOR
  //  --icon-color:#26703c;

}



@font-face {
  font-family:  'Raleway', sans-serif!important;
  font-style: normal;
  font-weight: 300;
  src: local('Raleway-Light'),
  url('../assets/fonts/Raleway-Light.ttf'),
     url('../assets/fonts/Raleway-Light.eot') format('embedded-opentype'), 
      url('../assets/fonts/Raleway-Light.woff') format('woff'),
      url('../assets/fonts/Raleway-Light.woff2') format('woff2'),
       url('../assets/fonts/Raleway-Light.ttf') format('truetype'),
       url('../assets/fonts/Raleway-Light.svg#Blue') format('svg');
}
@font-face {
  font-family:  'Raleway', sans-serif!important;
  font-style: normal;
  font-weight: 400;
  src: local('Raleway-Regular'),
  url('../assets/fonts/Raleway-Regular.ttf'),
     url('../assets/fonts/Raleway-Regular.eot') format('embedded-opentype'), 
      url('../assets/fonts/Raleway-Regular.woff') format('woff'),
      url('../assets/fonts/Raleway-Regular.woff2') format('woff2'),
       url('../assets/fonts/Raleway-Regular.ttf') format('truetype'),
       url('../assets/fonts/Raleway-Regular.svg#Blue') format('svg');
}

@font-face {
  font-family:  'Raleway', sans-serif!important;
  font-style: normal;
  font-weight: 500;
  src: local('Raleway-Medium'),
  url('../assets/fonts/Raleway-Medium.ttf'),
     url('../assets/fonts/Raleway-Medium.eot') format('embedded-opentype'), 
      url('../assets/fonts/Raleway-Medium.woff') format('woff'),
      url('../assets/fonts/Raleway-Medium.woff2') format('woff2'),
       url('../assets/fonts/Raleway-Medium.ttf') format('truetype'),
       url('../assets/fonts/Raleway-Medium.svg#Blue') format('svg');
}
@font-face {
  font-family:  'Raleway', sans-serif!important;
  font-style: normal;
  font-weight: 600;
  src: local('Raleway-SemiBold'),
  url('../assets/fonts/Raleway-SemiBold.ttf'),
     url('../assets/fonts/Raleway-SemiBold.eot') format('embedded-opentype'), 
      url('../assets/fonts/Raleway-SemiBold.woff') format('woff'),
      url('../assets/fonts/Raleway-SemiBold.woff2') format('woff2'),
       url('../assets/fonts/Raleway-SemiBold.ttf') format('truetype'),
       url('../assets/fonts/Raleway-SemiBold.svg#Blue') format('svg');
}
@font-face {
  font-family:  'Raleway', sans-serif!important;
  font-style: normal;
  font-weight: 700;
  src: local('Raleway-Bold'),
  url('../assets/fonts/Raleway-Bold.ttf'),
     url('../assets/fonts/Raleway-Bold.eot') format('embedded-opentype'), 
      url('../assets/fonts/Raleway-Bold.woff') format('woff'),
      url('../assets/fonts/Raleway-Bold.woff2') format('woff2'),
       url('../assets/fonts/Raleway-Bold.ttf') format('truetype'),
       url('../assets/fonts/Raleway-Bold.svg#Blue') format('svg');
}



*{
  font-family:  'Raleway', sans-serif!important;
  font-size:1rem;
  font-weight: 500;
}

h2{
  font-family: 'Raleway', sans-serif!important;
  font-size:1.6rem!important;
  font-weight: 500!important;  

  
}
h3{
  font-family: 'Raleway', sans-serif!important;
  font-size:1.1rem!important;
  font-weight: 500!important;
  text-transform: uppercase;
 
}
h4{
  font-family: 'Raleway', sans-serif!important;
  font-size:1.0rem!important;
  font-weight: 400!important;
 
 
}
h5{
  font-family: 'Raleway', sans-serif!important;
  font-size:1.1rem!important;
  font-weight: 300!important;
  text-transform: uppercase;

}

p{
  font-family: 'Raleway', sans-serif!important;
  font-size:0.95rem!important;
  font-weight: 400!important;
}


//  MENU FONDO

ion-menu {
  --ion-background-color:rgba(245, 245, 245, 0);   
  color:#fff; 
  --color:#fff; 
  background: url('../assets/img/bkgMenu.jpg') no-repeat center center / cover; 
  --background: url('../assets/img/bkgMenu.jpg') no-repeat center center / cover; 

  ion-toolbar {    
    img{
      width:50%;
      padding:10px;
    }
  }

 


}
ion-item{
  color:#fff;
  border-width: 0px;
  // .borderWhite{
  //   --padding-start: 16px;
  // }
  --border-color: transparent;
  p{
    margin:7px;
  }
}
.borderWhite{
  border:1px solid #fff;
  margin:10px;
  --padding-start: 0px;
}

// ICONOS MENU
.settings:hover,.settingsSelected{
  background:rgba(0,0,0,0.5);
}
.iconSettings{
  background-image:url('../assets/icon/iconSettings.svg');
  background-repeat: no-repeat;
  width:2em;
  height:2em;
  vertical-align: middle; 
  
}
.salir{
  border:1px solid #fff;  
  background:rgba(0,0,0,0.5);
  margin:5px;
  cursor:pointer;
}
.salir:hover,.salirSelected{
   /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#8ac43f+0,006837+100 */
   background: rgb(138,196,63); /* Old browsers */
   background: -moz-linear-gradient(left, rgba(138,196,63,1) 0%, rgba(0,104,55,1) 100%); /* FF3.6-15 */
   background: -webkit-linear-gradient(left, rgba(138,196,63,1) 0%,rgba(0,104,55,1) 100%); /* Chrome10-25,Safari5.1-6 */
   background: linear-gradient(to right, rgba(138,196,63,1) 0%,rgba(0,104,55,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8ac43f', endColorstr='#006837',GradientType=1 ); /* IE6-9 */
   
  
}
.iconSalir{
  background-image:url('../assets/icon/iconExit.svg');
  background-repeat: no-repeat;
  width:30px;
  height:30px;
  vertical-align: middle;    
}
.iconmedioAmbiente{
  background-image:url('../assets/icon/iconMedioAmbiente.svg');
  background-repeat: no-repeat;
  width:2em;
  height:2em;
  // width:40px;
  // height:40px;           
  vertical-align: middle;
}
.iconBotonMedio{
  background-image:url('../assets/icon/arrowRight.svg');
  background-repeat: no-repeat;
  width:40px;
  height:40px;           
  vertical-align: middle;
}

.iconBotonMedio:hover,.iconBotonMedioSelected{
  background-image:url('../assets/icon/arrowMedio.svg');
  background-repeat: no-repeat;
  width:80px;
  height:40px;          
  vertical-align: middle;   
}
.iconEnergia{
  background-image:url('../assets/icon/iconEnergia.svg');
  background-repeat: no-repeat;
  width:2em;
  height:2em;           
  vertical-align: middle;
}
.iconBotonEnergia{
  background-image:url('../assets/icon/arrowRight.svg');
  background-repeat: no-repeat;
  width:40px;
  height:40px;           
  vertical-align: middle; 
}
.iconBotonEnergia:hover,.iconBotonEnergiaSelected{
  background-image:url('../assets/icon/arrowEnergia.svg');
  background-repeat: no-repeat;
  width:80px;
  height:40px;           
  vertical-align: middle; 
}


.iconFinanzas{
  background-image:url('../assets/icon/iconFinanzas.svg');
  background-repeat: no-repeat;
  width:2em;
  height:2em;           
  vertical-align: middle;
}

.iconBotonFinanzas{
  background-image:url('../assets/icon/arrowRight.svg');
  background-repeat: no-repeat;
  width:40px;
  height:40px;           
  vertical-align: middle; 
}

.iconBotonFinanzas:hover,.iconBotonFinanzasSelected{
  background-image:url('../assets/icon/arrowFinanzas.svg');
  background-repeat: no-repeat;
  width:80px;
  height:40px;          
  vertical-align: middle; 
}


.iconPersonal{
  background-image:url('../assets/icon/iconPersonal.svg');
  background-repeat: no-repeat;
  width:2em;
  height:2em;           
  vertical-align: middle;
}
.iconBotonPersonal{
  background-image:url('../assets/icon/arrowRight.svg');
  background-repeat: no-repeat;
  width:40px;
  height:40px;           
  vertical-align: middle; 
  cursor:pointer;
}

.iconBotonPersonal:hover,.iconBotonPersonalSelected{
  background-image:url('../assets/icon/arrowPersonal.svg');
  background-repeat: no-repeat;
  width:80px;
  height:40px;          
  vertical-align: middle; 
  cursor:pointer;
}

.iconDataCenter{
  background-image:url('../assets/icon/iconDataCenter.svg');
  background-repeat: no-repeat;
  width:2em;
  height:2em;           
  vertical-align: middle;
}
.iconBotonDataCenter{
  background-image:url('../assets/icon/arrowRight.svg');
  background-repeat: no-repeat;
  width:40px;
  height:40px;           
  vertical-align: middle; 
  cursor:pointer;
}

.iconBotonDataCenter:hover,.iconBotonDataCenterSelected{
  background-image:url('../assets/icon/arrowData.svg');
  background-repeat: no-repeat;
  width:80px;
  height:40px;           
  vertical-align: middle; 
  cursor:pointer;  
}

.iconKeywords{
  background-image:url('../assets/icon/iconFilter.svg');
  background-repeat: no-repeat;
  width:2em;
  height:2em;          
  vertical-align: middle;
}
.iconBotonKeywords{
  background-image:url('../assets/icon/arrowRight.svg');
  background-repeat: no-repeat;
  width:40px;
  height:40px;           
  vertical-align: middle; 
  cursor:pointer;
}

.iconBotonKeywords:hover,.iconBotonKeywordsSelected{
  background-image:url('../assets/icon/arrowFilter.svg');
  background-repeat: no-repeat;
  width:80px;
  height:40px;           
  vertical-align: middle; 
  cursor:pointer;
}

.bkgGreen{
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#659933+0,007e13+100 */
  background: #659933; /* Old browsers */
  background: -moz-linear-gradient(top, #659933 0%, #007e13 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #659933 0%,#007e13 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #659933 0%,#007e13 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#659933', endColorstr='#007e13',GradientType=0 ); /* IE6-9 */
   display:block;
   border:1px solid #fff;
   margin: 5px;
   p{
     span{
       font-size:1.5em;
     }
   }
  }

.bkgOrange{
   
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f6921e+0,ec6724+100 */
  background: rgb(246,146,30); /* Old browsers */
  background: -moz-linear-gradient(-45deg, rgba(246,146,30,1) 0%, rgba(236,103,36,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, rgba(246,146,30,1) 0%,rgba(236,103,36,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, rgba(246,146,30,1) 0%,rgba(236,103,36,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6921e', endColorstr='#ec6724',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */display:block;
  border:1px solid #fff;
  margin: 5px;
  p{
    span{
      font-size:2em;
    }
  }
}
.bkgRed{
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#c0272d+0,ec3a24+100 */
  background: rgb(192,39,45); /* Old browsers */
  background: -moz-linear-gradient(-45deg, rgba(192,39,45,1) 0%, rgba(236,58,36,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, rgba(192,39,45,1) 0%,rgba(236,58,36,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, rgba(192,39,45,1) 0%,rgba(236,58,36,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c0272d', endColorstr='#ec3a24',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */display:block;
  border:1px solid #fff;
  margin: 5px;
  p{
    span{
      font-size:2em;
    }
  }
}
// ICONOS DATOS TEMP HUM Y RUIDO
.iconTemperatura{
  background-image:url('../assets/icon/iconTemperatura.svg');
  background-repeat: no-repeat;
  width:50px;
  height:50px;           
  vertical-align: middle;
        
}

.iconHumedad{
  background-image:url('../assets/icon/iconHumedad.svg');
  background-repeat: no-repeat;
  width:50px;
  height:50px;            
  vertical-align: middle;
}

.iconRuido{
  background-image:url('../assets/icon/iconRuido.svg');
  background-repeat: no-repeat;
  width:50px;
  height:50px;           
  vertical-align: middle;
}

// LOGIN USUARIO 
.usuarios{
  // margin-top:30px;
  color:#fff;
  padding:10px;
  background:rgba(0,0,0,0.5);
  
}
.iconUsuario{
  background-image:url('../assets/icon/iconUsuariologged.svg');
  background-repeat: no-repeat;
  width:50px;
  height:50px;           
  vertical-align: middle;
  margin-top: 15px;
}

.nombreUsuario{

}
.emailUsuario{

}


.item.sc-ion-label-md-h, .item .sc-ion-label-md-h {
  --color:#fff;
}

// CHART SERVIDORES

.chart-area {
  fill: white;
}

/* ------ Title in center ------ */

.title-top {
text-anchor: middle;
font-size: 22px;
}
.title-bottom {
text-anchor: middle;
font-size: 14px;
fill: #ababab;
font-weight: 300;
}

/* ------ Datapoint circles ------ */

.circle {
fill: #a2a2a2;
opacity: 0.6;
}

.circle-top {
fill: white;
opacity: 0.7;	
}

/* ------ Axes ------ */

.average-line {
stroke: #ffec0c;
  stroke-width: 1.5px;
  fill: none;
}

.axis-line {
  fill: none;
  stroke: #b3b3b3;
  stroke-linecap: round;
  stroke-dasharray: 0,5;
  stroke-width: 1.5;
}

.axis-number {
text-anchor: middle;
font-size: 12px;
fill: #b5b5b5;
}

.time-axis {
fill: #d4d4d4;
}

.time-axis-text {
// fill: #989898;
fill: #fff;
font-size: 0.9rem!important;
font-weight: 300!important;
}

/* ------ Tooltip annotation ------ */

.annotation path {
fill: none;
stroke: #1d1d1d;
stroke-width: 1.5px;
}

.annotation text {
fill: #161616;
font-size: 12px;
text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff, 0 -1px 0 #fff;
line-height: 200%;
}

.annotation-note-bg {
fill: none;
}

.annotation .annotation-subject {
stroke-dasharray: 2,4;
  stroke-linecap: round;
  stroke-width: 1.5px;
}

.annotation-note-title {
font-weight: bold;
}

.annotation .connector-dot {
  fill: white;
  transform: scale(1.5);
}

.annotation.average-note .connector, .annotation.average-note .connector-dot, .annotation.average-note .note-line {
  stroke: #ffec0c;
}



// MEDIA QUERIES

@media (min-width: 567px) and (max-width: 991px){
 
}
@media (min-width: 992px) and (max-width: 1199px){
 
}
 
@media (min-width: 1200px) {
  .bkgGreen{
    
     p{
       span{
         font-size:2em;
       }
     }
    }
}