<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-icon class="iconMenu"></ion-icon>
    </ion-buttons>

    <ion-title slot="end">
      <ion-col text-right justify-content-end>
        <img class="logomenu" src="../../assets/icon/logoCyberops.svg" alt="">
      </ion-col>
    </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <p text-right>Servidores / Racks / Data Center / <a href="#">
            <ion-icon class="iconHome"></ion-icon>
          </a></p>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="bkgServers" size-xs="12" size-sm="12" size-md="12" size-lg="12" size-xl="8">

        <ion-row class="fondoGris">
          <ion-col size-xs="12" size-sm="12" size-md="2" size-xl="2" size-lg="2">
            <ion-icon class="iconServers"></ion-icon>
          </ion-col>
          <ion-col>
            <h1>Rack 1 - Servidores</h1>
            <span class="lineaBlanca"></span>
            <h4> Configuración de los servidores</h4>
          </ion-col>

        </ion-row>

      </ion-col>
      <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="12" size-xl="4">
        <ion-row class="bkgCyber">
          <ion-col text-left size-xs="2" size-sm="2" size-md="2" size-lg="2" size-xl="2">
            <ion-icon class="iconCyber"></ion-icon>
          </ion-col>
          <ion-col>
            <p class="cybersistem">CYBERSYSTEM</p>
          </ion-col>
          <ion-col text-right>
            <p><span class="percent">80%</span></p>
          </ion-col>
          <ion-col text-left size-xs="3" size-sm="2" size-md="2" size-lg="2" size-xl="2">
            <ion-icon class="iconHeart"></ion-icon>
          </ion-col>
        </ion-row>

        <ion-row class="bkgData">
          <ion-col>
            <h3>DATA CENTER</h3>
            <p class="estado">Estado general</p>

          </ion-col>
          <ion-col text-right>
            <p><span class="percent">92%</span></p>
          </ion-col>
          <ion-col text-left size-xs="3" size-sm="2" size-md="2" size-lg="2" size-xl="2">
            <ion-icon class="iconStatusOK"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>

    <ion-row>
      <div #chart id=”chart”></div>
    </ion-row>

    <ion-row>

      <ion-col class="fondoNegroFiltro" size-xs="12" size-sm="12" size-md="4" size-lg="4" size-xl="4">
        <!-- <img src="../../assets/icon/servidoresChart.svg" alt=""> -->
        <!-- <div id="chart"></div> -->
        <!-- <svg id="graphContainer" width="100%" height="100%" class="associations" #chart>
         
        </svg> -->
        <!-- <div #chart id=”chart”></div> -->
      </ion-col>

      <!-- <ion-col>
        <ion-row class="fondoNegroFiltro">
          <ion-col size-xs="12" size-sm="12" size-md="6" size-lg="6" size-xl="6">
            <ion-button>
              <ion-col class="bkgNegro">
                <ion-icon class="iconServerBlue"></ion-icon> Servidor 1
              </ion-col>
            </ion-button>
            <ion-button>
              <ion-col class="bkgNegro">
                <ion-icon class="iconServerBlue"></ion-icon> Servidor 2
              </ion-col>
            </ion-button>
            <ion-button>
              <ion-col class="bkgNegro">
                <ion-icon class="iconServerBlue"></ion-icon> Servidor 3
              </ion-col>
            </ion-button>
            <ion-button>
              <ion-col class="bkgNegro">
                <ion-icon class="iconServerGreen"></ion-icon> Servidor 4
              </ion-col>
            </ion-button>
            <ion-button>
              <ion-col class="bkgNegro">
                <ion-icon class="iconServerGreen"></ion-icon> Servidor 5
              </ion-col>
            </ion-button>
            <ion-button>
              <ion-col class="bkgNegro">
                <ion-icon class="iconServerGreen"></ion-icon> Servidor 6
              </ion-col>
            </ion-button>

            <ion-button>
              <ion-col class="bkgNegro">
                <ion-icon class="iconServerGreen"></ion-icon> Servidor 7
              </ion-col>
            </ion-button>
            <ion-button>
              <ion-col class="bkgNegro">
                <ion-icon class="iconServerGreen"></ion-icon> Servidor 8
              </ion-col>
            </ion-button>
            <ion-button>
              <ion-col class="bkgNegro">
                <ion-icon class="iconServerRed"></ion-icon> Servidor 9
              </ion-col>
            </ion-button>
            <ion-button>
              <ion-col class="bkgNegro">
                <ion-icon class="iconServerRed"></ion-icon> Servidor 10
              </ion-col>
            </ion-button>

          </ion-col>
          <ion-col size-xs="12" size-sm="12" size-md="6" size-lg="6" size-xl="6">
            <ion-button>
              <ion-col class="bkgNegro">
                <ion-icon class="iconServerGreen"></ion-icon> Servidor 11
              </ion-col>
            </ion-button>
            <ion-button>
              <ion-col class="bkgNegro">
                <ion-icon class="iconServerGreen"></ion-icon> Servidor 12
              </ion-col>
            </ion-button>
            <ion-button>
              <ion-col class="bkgNegro">
                <ion-icon class="iconServerGreen"></ion-icon> Servidor 13
              </ion-col>
            </ion-button>
            <ion-button>
              <ion-col class="bkgNegro">
                <ion-icon class="iconServerGreen"></ion-icon> Servidor 14
              </ion-col>
            </ion-button>
            <ion-button>
              <ion-col class="bkgNegro">
                <ion-icon class="iconServerGreen"></ion-icon> Servidor 15
              </ion-col>
            </ion-button>
            <ion-button>
              <ion-col class="bkgNegro">
                <ion-icon class="iconServerGreen"></ion-icon> Servidor 16
              </ion-col>
            </ion-button>

            <ion-button>
              <ion-col class="bkgNegro">
                <ion-icon class="iconServerGreen"></ion-icon> Servidor 17
              </ion-col>
            </ion-button>
            <ion-button>
              <ion-col class="bkgNegro">
                <ion-icon class="iconServerOrange"></ion-icon> Servidor 18
              </ion-col>
            </ion-button>
            <ion-button>
              <ion-col class="bkgNegro">
                <ion-icon class="iconServerOrange"></ion-icon> Servidor 19
              </ion-col>
            </ion-button>
            <ion-button>
              <ion-col class="bkgNegro">
                <ion-icon class="iconServerOrange"></ion-icon> Servidor 20
              </ion-col>
            </ion-button>
          </ion-col>
          <ion-col size-xs="12" size-sm="12" size-md="6" size-lg="6" size-xl="6">
            <ion-button>
              <ion-col class="bkgNegro">
                <ion-icon class="iconServerOrange"></ion-icon> Servidor 21
              </ion-col>
            </ion-button>
            <ion-button>
              <ion-col class="bkgNegro">
                <ion-icon class="iconServerOrange"></ion-icon> Servidor 22
              </ion-col>
            </ion-button>
            <ion-button>
              <ion-col class="bkgNegro">
                <ion-icon class="iconServerOrange"></ion-icon> Servidor 23
              </ion-col>
            </ion-button>
            <ion-button>
              <ion-col class="bkgNegro">
                <ion-icon class="iconServerRed"></ion-icon> Servidor 24
              </ion-col>
            </ion-button>
            <ion-button>
              <ion-col class="bkgNegro">
                <ion-icon class="iconServerRed"></ion-icon> Servidor 25
              </ion-col>
            </ion-button>
            <ion-button>
              <ion-col class="bkgNegro">
                <ion-icon class="iconServerRed"></ion-icon> Servidor 26
              </ion-col>
            </ion-button>

            <ion-button>
              <ion-col class="bkgNegro">
                <ion-icon class="iconServerRed"></ion-icon> Servidor 27
              </ion-col>
            </ion-button>

          </ion-col>

        </ion-row>
        <ion-row>
          <ion-col size-xs="12" size-sm="12" size-md="6" size-lg="6" size-xl="6">
            <ion-button class="buttonSettings">
              <ion-icon class="iconSettings"></ion-icon> Configuración
            </ion-button>
          </ion-col>
          <ion-col text-right>
            <ion-button class="buttonCancelar">
              CANCELAR
            </ion-button>
          </ion-col>
          <ion-col>
            <ion-button class="buttonGreen">
              Aplicar cambios
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-col> -->


    </ion-row>

  </ion-grid>
</ion-content>