<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>   
      <ion-icon class="iconMenu"></ion-icon>    
    </ion-buttons>
    
    <ion-title slot="end">       
      <ion-col text-right justify-content-end>
        <img class="logomenu" src="../../assets/icon/logoCyberops.svg" alt="">
      </ion-col>      
     
    </ion-title>  
  </ion-toolbar>
</ion-header>
<!-- size-xs="12" size-sm="12" size-md="12" size-xl="6" size-lg="6" -->
<ion-content>
    <ion-grid>
        <ion-row>
          <ion-col>
            <p text-right>Medio Ambiente / <a href="#">
                <ion-icon class="iconHome"></ion-icon>
              </a></p>
          </ion-col>
    
        </ion-row>
        <ion-row>
          <ion-col class="bkgMedioAmbiente">
    
            <ion-row class="fondoGris">
              <ion-col  size-xs="12" size-sm="12" size-md="2" size-xl="2" size-lg="2">
                <ion-icon class="iconMedioAmbiente"></ion-icon>
              </ion-col>
              <ion-col>
                <h1>Derroche y contaminación en el centro de datos MAD</h1>
                <span class="lineaBlanca"></span>
                <h4>La detección de anomalías mediante técnicas de inteligencia artificial ayuda a detectar de manera temprana averías, ataques y condiciones de operación subóptimas. Con una inversión mínima y sin configuración.</h4>
              </ion-col>
              
            </ion-row>
    
          </ion-col>          
        </ion-row>

        <ion-row class="fondoVerde">
          <ion-col size-xs="12" size-sm="12" size-md="12"  size-lg="6" size-xl="6">
            <ion-row class="fondoVerdeOscuro">
              <ion-col size-xs="12" size-sm="12" size-md="6"  size-lg="12" size-xl="6">
                <img src="../../assets/img/medioNoticia1.jpg" alt="" class="marginNeg">
              </ion-col>
              <ion-col size-xs="12" size-sm="12" size-md="6"  size-lg="12" size-xl="6">
                <h3>ELECTRICIDAD, CONTAMINACIÓN E INTERNET</h3>
                <p>Bajo la nube de datos, una realidad de excesos y derroche de energía. "Un solo data center puede absorber más electricidad que una ciudad mediana", dicen los expertos</p>
              </ion-col>
            </ion-row>
            <ion-row class="fondoVerdeOscuro">
                <ion-col size-xs="12" size-sm="12" size-md="6"  size-lg="12" size-xl="6">
                    <img src="../../assets/img/medionoticia2.jpg" alt="" class="marginNeg2">
                  </ion-col>
                  <ion-col size-xs="12" size-sm="12" size-md="6"  size-lg="12" size-xl="6">
                    <h3>DATA CENTER ECOLÓGICOS</h3>
                    <p>El norte de Europa se ha convertido en una región estratégica para el sector de los centros de datos, aglutinando cada vez más proyectos de centros de datos alimentados por energías renovables. Y los gobiernos de esos países quieren potenciar esta tendencia, introduciendo medidas fiscales que favorezcan el desarrollo en esa dirección.</p>
                  </ion-col>
            </ion-row>
          </ion-col>
          <ion-col size-xs="12" size-sm="12" size-md="12"  size-lg="6" size-xl="6">
            <ion-row >
              <ion-col class="fondoVerdeOscuro2">
                <ion-row>
                  <ion-col size="2">
                      <ion-icon class="iconEye"></ion-icon> 
                  </ion-col>
                  <ion-col text-left>
                      <h3 class="Titulo">AVISO</h3>
                  </ion-col>
                   
                </ion-row>
                <ion-row>
                    <p>Sensores de temperatura de salida del aire y software de detección de anomalías térmicas.</p>
                  </ion-row>
                  <ion-row>
                      <ion-col>
                          <img src="../../assets/img/medioNoticia3.jpg" alt="">
                      </ion-col>
                     
                  </ion-row>
                  <ion-row>
                    <ion-col text-right>
                      <ion-icon class="iconEuro" ></ion-icon> 
                    </ion-col>
                    <ion-col text-left>
                        <span>Coste </span>
                    </ion-col>
                    <ion-col text-right>
                      <ion-icon class="iconRisk" ></ion-icon> 
                    </ion-col>
                   
                    <ion-col text-left>
                        <span>Riesgo</span>
                    </ion-col>
                  </ion-row>
              </ion-col>
              
            </ion-row>

         
          </ion-col>
        </ion-row>
      </ion-grid>
</ion-content>
