<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>   
        <ion-icon class="iconMenu"></ion-icon>    
      </ion-buttons>
      
      <ion-title slot="end">       
        <ion-col text-right justify-content-end>
          <img class="logomenu" src="../../assets/icon/logoCyberops.svg" alt="">
        </ion-col>      
       
      </ion-title>  
    </ion-toolbar>
  </ion-header>

<ion-content>
    <ion-grid>
        <ion-row>
          <ion-col>
            <p text-right>Finanzas / <a href="#">
                <ion-icon class="iconHome"></ion-icon>
              </a></p>
          </ion-col>
    
        </ion-row>
        <ion-row>
          <ion-col class="bkgFinanzas">
    
            <ion-row class="fondoGris">
              <ion-col  size-xs="12" size-sm="12" size-md="2" size-xl="2" size-lg="2">
                <ion-icon class="iconFinanzas"></ion-icon>
              </ion-col>
              <ion-col>
                <h1>Distribución de costes de energía en Centro de Datos</h1>
                <span class="lineaBlanca"></span>
                <h4>El coste de la energía de refrigeración supone el 49.5% del coste de energía total del Centro de Datos</h4>
              </ion-col>
              
            </ion-row>
    
          </ion-col>          
        </ion-row>

        <ion-row class="fondoMorado">
          <ion-col size-xs="12" size-sm="12" size-md="12"  size-lg="6" size-xl="6">
            <ion-row class="fondoMoradoOscuro">
              <ion-col size-xs="12" size-sm="12" size-md="6"  size-lg="12" size-xl="6">
                <img src="../../assets/img/finanzasNoticia1.jpg" alt="" class="marginNeg">
              </ion-col>
              <ion-col size-xs="12" size-sm="12" size-md="6"  size-lg="12" size-xl="6">
                <h3>IA AYUDA A AHORRAR TIEMPO Y DINERO</h3>
                <p>La Inteligencia Artificial comienza a impactar en los usuarios finales de forma más directa.Según un estudio de Gartner, estos algoritmos les ayudan a ahorrar tiempo y dinero. lo que para ellos es más importante que otras tecnologías personales como las redes soaciales, o las relacionadas con el ocio y el divertimento.</p>
              </ion-col>
            </ion-row>
            <ion-row class="fondoMoradoOscuro">
                <ion-col size-xs="12" size-sm="12" size-md="6"  size-lg="12" size-xl="6">
                    <img src="../../assets/img/finanzasNoticia2.jpg" alt="" class="marginNeg2">
                  </ion-col>
                  <ion-col size-xs="12" size-sm="12" size-md="6"  size-lg="12" size-xl="6">
                    <h3>INVERSIÓN EN BIG DATA</h3>
                    <p>Las empresas saben que tienen que amentar la inversión en tecnología para ser más ágiles y competitivas. De hecho el gasto en Big Data e inteligencia artificial (IA) no para de crecer año tras año.</p>
                  </ion-col>
            </ion-row>
          </ion-col>
          <ion-col size-xs="12" size-sm="12" size-md="12"  size-lg="6" size-xl="6">
            <ion-row >
              <ion-col class="fondoMoradoOscuro2">
                <ion-row>
                  <ion-col >
                      <ion-icon class="iconEnergySaving"></ion-icon> 
                     
                  </ion-col>
                  <ion-col >
                      <img src="../../assets/img/finanzasNoticia3.jpg" alt="" class="marginPos">
                  </ion-col>
                   
                </ion-row>
                <ion-row>
                    <ion-col >
                        <h4>El centro de datos se vuelve más inteligente y eficientemente energético.</h4>
                          <p class="Titulo">El mercado del data center se encuentra en plena expansión. Con la transformación digital en pleno aute y con la irrupción de tendencias como el Internet of Things, la Industria 4.0 o el Edge Computing, es cada vez más necesaria una infraestructura TI más potente, distribuida y descentralizada, a la vez que se requieren redes más rápidas con bajas latencias.</p>
                      </ion-col>
                </ion-row>
                
              </ion-col>
              
            </ion-row>

         
          </ion-col>
        </ion-row>
      </ion-grid>
</ion-content>
